/* categoryクラスが付与されているdivタグの下のulの下のliの下にあるすべてのaタグ */

div.category > ul > li a{
    color: #212529;
    text-decoration: none;
}


img {
    object-fit: cover;
}

.comment-form label{
    color: #dc143c;
    font-weight: 600;
}